<% provide(:title,'About Us') %>

<section id="about_us">
		<%= image_tag("myWebpage.png", :alt=>"Sample App", :class=>"round") %>
		<h1>About Us</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed odio nec eros ultrices varius. Mauris fringilla neque non ante vehicula sodales. Nullam sollicitudin, massa in viverra facilisis, lorem purus imperdiet lorem, a pretium leo magna a nisl. Ut fermentum malesuada urna, nec iaculis elit ultricies eget. Aenean a neque ut tortor lobortis lobortis id et velit. Quisque gravida vulputate ante, at aliquam erat cursus non. Suspendisse molestie orci nulla, id faucibus lectus. Duis est nisi, lobortis quis molestie eget, commodo interdum sapien.
</p>


<p class='clear'>
Aliquam erat volutpat. Curabitur ligula lectus, rhoncus non imperdiet porttitor, consectetur eget lacus. Nam porta blandit eleifend. Donec ligula nisi, convallis sed facilisis eget, tempor in enim. Morbi tincidunt, dolor in aliquam rutrum, neque metus viverra dui, eu tempor neque diam non ipsum. Sed eleifend, arcu ac interdum tristique, magna lacus ornare ligula, at lobortis ligula arcu sed dui. Donec varius eros euismod arcu mattis sit amet dapibus magna feugiat. Fusce nec sagittis lorem. Donec in ante in enim vehicula hendrerit. Praesent at lorem sapien, eget convallis est. Cras lacinia dui et arcu scelerisque nec mattis odio suscipit. Nullam vitae nibh enim, id volutpat libero. Nam ac metus odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vel elit nulla, non imperdiet dolor.
</p>
<p class="lead">
Phasellus arcu magna, viverra et pulvinar et, pharetra vitae enim. Nam vel orci ac lectus viverra aliquet. Fusce vel suscipit enim. Suspendisse gravida porttitor scelerisque. Donec eget est vel dolor semper dignissim eget ut justo. Nulla consequat semper felis non rutrum. Sed tempor sapien vel felis fermentum varius. Nulla consequat egestas ante, non tempus ante posuere ac. Nullam lorem sapien, egestas at mollis id, volutpat vel leo. Donec eleifend est erat, quis congue turpis. In vel hendrerit massa. In hac habitasse platea dictumst. Nam a enim est. Morbi in risus vitae est rutrum rutrum. Cras id erat libero, a congue lacus.
</p>
<p>
Aenean lacinia dictum semper. Integer quis felis ac erat ornare elementum. Etiam a purus et nisi egestas ornare. Integer iaculis est nec risus fringilla bibendum. Nam commodo ultricies tempor. Etiam erat felis, aliquet ut vehicula ut, convallis a neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit arcu a libero rhoncus vehicula. Phasellus neque massa, faucibus in tincidunt vitae, imperdiet sit amet dolor.
</p>
Mauris euismod laoreet porta. In augue eros, pulvinar eleifend accumsan non, molestie ut nunc. Duis vehicula feugiat metus, in aliquet magna scelerisque ut. Donec rhoncus tempor pretium. Curabitur id mi diam, vitae sollicitudin metus. Duis convallis blandit turpis, sit amet blandit nisi ultricies sit amet. Aenean quis placerat sem. Curabitur eu laoreet nunc. In hac habitasse platea dictumst. Fusce metus risus, aliquam sed eleifend nec, lacinia ac risus. Etiam gravida eros ut leo tincidunt vel auctor quam posuere. Quisque rutrum imperdiet ante eu varius. Quisque turpis nunc, iaculis feugiat iaculis in, dictum vel justo. Phasellus sed viverra felis. Vivamus diam odio, adipiscing non mollis et, aliquet tincidunt velit. Donec convallis odio porttitor felis vestibulum in aliquet orci semper.
</section>