<% provide(:title,'Cyprus-Uni') %>
<div class="center hero-unit">
<h1>Cyprus-Uni</h1>
<h2>This is the official lecture homepage of <%= link_to "Effie dimou", profile_path %></h2>
<%= link_to "Sign up now!", sign_up_path, :class=>"btn btn-large btn-primary" %>
</div>