<% provide(:title,'Home') %>
<div class="center hero-unit"><h1>Home</h1>
<h2>This is a homepage of thlias, useful in testing projects 
<a href="http://google.gr"></a></h2>
</div>
<%= link_to image_tag("rails.png", :alt=>"Rails"), 'http://rubyonrails.org/' %>