<% provide(:title,'Profile') %>
<h1> Profile</h1>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div>
				<ul class="nav nav-pills nav-stacked center">
					<li class=active>
						<a href="#">Στοιχεία επικοινωνίας</a>
					</li>
					<li><a href="#">Εισαγωγό σημείωμα</a></li>
					<li class="divider"></li>
					<li><a href="#">Εργασιακή εμπειρία</a></li>
					<li><a href="#">Ακαδημαική μόρφωση</a></li>
				</ul>
			</div>
		</div>
		<div class="span10">
			
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel dolor lorem, nec imperdiet mi. Fusce imperdiet, nibh feugiat commodo sagittis, velit urna volutpat libero, sed elementum erat felis adipiscing dui. Mauris lacinia egestas tempus. Sed ac hendrerit diam. Phasellus scelerisque fermentum quam sed elementum. In elementum justo quis libero cursus nec ultricies dolor pulvinar. Cras elementum turpis quis nibh egestas tincidunt. Ut mattis tincidunt augue ac auctor. Pellentesque mi est, bibendum sollicitudin volutpat at, commodo eu dolor. In varius dui non ante tincidunt eu interdum nunc lobortis. Suspendisse nisi magna, pretium eget accumsan sit amet, consequat eu turpis. Nam lobortis rhoncus justo sed pretium.
			</p>
		</div>
	</div>
</div>