/* ================== */
/* = Custom css = */
/* ================== */


/* @todo:          Remember to remove this rule before the site goes live*/
/* @workaround:    I managed to fix this problem in IE by setting a small negative margin but it's not pretty*/
/* @bugfix:       Rule breaks in IE 5.2 Mac */


/* ================== */
/* = General Styles = */
/* ================== */
.container {
	width:710px;
/*	height:500px;*/
}

/*Body Styles*/
section {
	backround: #3E8C84; 
}

body {
	background: #3E8C84;
}


/*Resets*/




/*Links*/
a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069;
}


/*Headings*/



/*Other elements*/


/* ================= */
/* = Helper Styles = */
/* ================= */

/*Forms*/




/*Notifications and Errors*/




/*Consistent items*/



/* ================== */	
/* = Page Structure = */
/* ================== */



/*Headers, Footers and Navigation*/
header {
	padding-top: 20px;
}

header img {
/*	position: absolute;	
	left: -40px;
	top: 20px;*/
	margin-bottom:10px;
	padding: 5px;
	background: #0F2D40;
}

nav {
	float:right;
	text-align:center;
	background: #0F2D40;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 50px;
	white-space: nowrap;
}
/*whitespace παράμετρος χρησιμοποιείται στην μπάρα πλοήγησης*/
/*έτσι ώστε αν για παράδειγμα μαζευτούν παραπάνω στοιχεία από*/
/*αυτά που χωράει το μπλόκ κειμένου να μην αλλάζει γραμμή*/
/*δεν κάνει διαμόρφωση κειμένου με λίγα λόγια*/

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	/*βγάζει τις κουκίδες της λίστας*/
	list-style-type: none;
	/*δεν τοποθετεί τα στοιχεία κάθετα αλλά οριζόντια*/
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a{
	padding: 0.5em;
	font-weight: bold;
	color: white;
}


nav ul li a:visited{
	color: #3E8C84;
}

nav ul li a:hover{
	text-decoration: underline;
}

footer {
	/*Όχι πολύ χρήσιμο το absolute γιατί αν και είναι στον πάτο, αν μικρύνεις το
	παράθυρο μπορεί να καπελώσει και το content*/
/*	position: absolute;
	bottom: 100px;*/
	text-align:center;
	margin-top:10px;
	width:710px;
	margin-left:auto;
	margin-right:auto;
}

footer nav {
	float:none;
	position: relative;
/*	left: 20px;
*/	top: 10x;
}

/*Layout*/

.main_content {
	margin-top:40px;
	background:#D8F2F0;
}

section#about_us {
	text-indent:50px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	border: solid 10px black;
	
	
}

/*section#about_us p {
	float:right;
}*/

section img {
	float:left;
	margin-right:10px;
}
/*Other page furniture*/

.round {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

p.clear {
	clear: both;
}

/* =================== */
/* = Page Components = */
/* =================== */

/*News style*/


/*Individual Pages*/


/* ============= */
/* = Overrides = */
/* ============= */